<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Flask Sample</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>
        Track Audio Features
      </h1>
      <h4>
        Spotify API example in Python/Flask
      </h4>
<!--       <a class="btn btn-sm btn-violet" href="https://glitch.com/edit/#!/spotify-flask">
        Remix this in Glitch
      </a> -->
    </header>

    <main>
      <p>Type an Artist Name</p>
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Artist</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          <span class="input-group-btn">
            <button class="btn btn-violet" type="submit">Submit</button>
          </span>
        </div>
      </form>
      <section class="dreams">
        <ul id="track-features" class="sp-container">
        </ul>
      </section>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public/client-track-features.js"></script>

  </body>
</html>
